name: github pages

on:
    push:
        branches:
            - master # Set a branch name to trigger deployment

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Setup Node
              uses: actions/setup-node@v1
              with:
                  node-version: "14.x"
            - run: npm ci
            - run: npm run build
            - run: npm run lint
            - run: npm run spellcheck

            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./build
